.field
  = f.label :url, "URL"
  = f.text_field :url, value: connector.url || "https://verboice.instedd.org"
.field
  = f.label :username
  = f.text_field :username, value: connector.username
.field
  = f.label :password
  = f.password_field :password, value: connector.password
.field
  = f.label :shared
  = f.check_box :shared, {:checked => false}, true, false


