%h4 Edit '#{connector.name}' trigger

= render 'form'

%hr

%ul
  %li GUID: #{connector.guid}
  %li= link_to "Reflect", api_reflect_path(connector.guid)
  - if @secret_token
    %li Secret token: #{@secret_token}
