.row-fluid
  .span12
    %h4 Connectors
    - accessible_connectors.each do |connector|
      .row-fluid
        .span12.box-list
          - if connector.shared?
            = connector.name
            (Shared)
            = link_to "Reflect", api_reflect_path(connector.guid)
          - else
            = icon_link_to :'icf-arrow', connector.name, edit_connector_path(connector)

          - if connector.pollable?
            = link_to "Poll", "/connectors/#{connector.guid}/poll", method: :put

    - %w(ACT CDX Elasticsearch GoogleSpreadsheets GoogleFusionTables MBuilder ONA RapidPro Remindem ResourceMap Verboice).each do |name|
      = icon_link_to :'icc-add', "Add #{connector_human_name_for_type(name)} Connector", new_connector_path(type: "#{name}Connector"), class: "add-connector blue"
      %br
      %br

